body {
    padding-top: 60px;
    background-color:#f5f5f5;
    font-family:gotham;
    font-size:16px;
}


div.container a.brand {
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-nav > li > a {
    font-size: 16px;
    font-weight: bold;
    color:#4D4B4D;
}

.navbar-inverse .navbar-nav > li > a:focus , .navbar-inverse  .navbar-nav > li > a:hover{
    font-size: 16px;
    font-weight: bold;
    background-color:#FCB13E;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}

.navbar-inverse .navbar-toggle {
    background-color:#fcb13e;
    border-color:#fcb13e;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    border-color:#333;
}
.container .navbar-brand{
    padding-left:25px;
}

.even, .odd{
    overflow:hidden;
}
.even DIV, .odd DIV{
    padding:5px;
}
.even:focus, .even:hover, .odd:focus, .odd:hover{
    border:1px solid #fcb13e;
    background-color:#fefefe;
}
.row{
    padding:10px;
    margin:10px 0px;
}
.emailForm{
    padding:10px;
    background-color:#fcfcfc;
    border:1px solid #efefef;
    color:black;
    overflow:hidden;
}
.form-group{
    margin-top:10px;
    margin-bottom:10px;
}
.label{
    text-align:right;
    font-size:15px;
    color:black;
}
.page-header{
    margin:0;
    border:0;
    color:#fcb13e;
}
.page-title{
    padding-left:10px;
}

.container{
    padding-left:0;
    padding-right:0;
}
.container .row{
    padding-left:0px;
    padding-right:0px;
    margin:0px;
}
.row .col-md-6{
    padding:0px;
}

.container .jumbotron{
    background-color:#efefef;
    padding:0;
    margin-bottom:0;
    margin-top:-127px;
}
.left-column{
    min-height:630px;
}
.right-column{
    float:right;
}
.message{
    font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    position:relative;
    top:150px;
    left:50px;
    color:white;
    font-weight:bold;
    font-size:30px;
    width:100%;
    overflow:hidden;
}
.main{
    margin-top:18px;
}
@media screen and ( max-width:768px ) {
    .message{
        top:90px;
        left:20px;
        font-size:15px;
    }
    .container{
        border:0;
    }
    .container  .jumbotron{
        margin-top:-73px;
    }
    .page-title{
        font-size:20px;
        padding-left:10px;
    }
    .container .navbar-brand{
        padding-left:25px;
    }
    .navbar-toggle{
        margin-right:22px;
        padding: 11px 12px;
    }
    .right-column{
        clear:both;
        width:100%;
        padding-left:0;
        padding-right:0;
    }
    .left-column{
        clear:both;
        width:100%;
        padding-left:5px;
        padding-right:0;
    }
    .odd, .even{
        padding-left:5px;
        padding-right:0;
    }
    .main{
        border:0;
    }
}