body {
    padding-top: 60px;
    background-color:#efefef;
    font-family:gotham;
    font-size:16px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.navbar-nav > li > a {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}

.navbar-inverse .navbar-nav > li > a:focus , .navbar-inverse  .navbar-nav > li > a:hover{
    font-size: 16px;
    font-weight: bold;
    background-color:#333;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}

.navbar-inverse .navbar-toggle {
    background-color:#fcb13e;
    border-color:#fcb13e;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    border-color:#333;
}
.even, .odd{
    overflow:hidden;
}
.even DIV, .odd DIV{
    padding:5px;
}
.even:focus, .even:hover, .odd:focus, .odd:hover{
    border:1px solid #fcb13e;
    background-color:#fefefe;
}
.row{
    padding:10px;
    margin:10px 0px;
}
.emailForm{
    padding:10px;
    background-color:#fcfcfc;
    border:1px solid #efefef;
    color:black;
}
.form-group{
    margin-top:10px;
    margin-bottom:10px;
}
.label{
    text-align:right;
    font-size:15px;
    color:black;
}
.page-header{
    margin-top:10px;
    background-color:#fcb13e;
    color:white;
}

.container{
    padding-left:0;
    padding-right:0;
}
.container .row{
    padding-left:0px;
    padding-right:0px;
    margin:0px;
}
.row .col-md-6{
    padding:0px;
}

.jumbotron{
    background-color:#fcb13e;
}
.left-column{
    border:1px solid #efefef;
    min-height:630px;
}
.right-column{
    border:1px solid #efefef;
    float:right;
}